body {
  padding: 3%;
  text-align: center;
  font-family: "Dancing Script", cursive;
}

h1 {
  font-size: 7rem;
    padding: 12% 0 0;
  font-weight: bold;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
}

h3 {
  padding: 10%;
}

p {
  padding: 7% 0;
  font-size: 1.5rem;
}

.colored-section {
  background-color: #e26868;
}

.logo {
  width: 100%;
}

.nav-item {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
}

.navbar {
  padding: 1% 3%;
  background-color: white;
}

.nav-item:hover {
  color: white;
}

.container-profile {
    margin: 10% 0;
    position: relative;
}

.baker-profile {
    width: 100%;
    margin: 10%;
}

.profile-text {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 15%;
}

.heart-img {
  width: 10%;
  transform: rotate(-15deg);
  vertical-align: text-top;
}

.container-logo {
  margin:10% 0;
  position: relative;
}

.logo-text {
  position: absolute;
}

